@font-face {
    font-family: "astera";
    src: url("../assets/fonts/astera.ttf");
}

@font-face {
    font-family: "astral";
    src: url("../assets/fonts/astral.ttf");
}

@font-face {
    font-family: "distant";
    src: url("../assets/fonts/distant.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/lato.ttf");
}

@font-face {
    font-family: "magma";
    src: url("../assets/fonts/magma.otf");
}

@font-face {
    font-family: "nasalization";
    src: url("../assets/fonts/nasalization.otf");
}

@font-face {
    font-family: "rocket";
    src: url("../assets/fonts/rocket.otf");
}

@font-face {
    font-family: "xavier";
    src: url("../assets/fonts/xavier.ttf");
}