$phoneScreenColor: rgb(103, 180, 219);
$phoneBorderColor: rgb(39, 39, 39);

body {
    font-family: "Lato", ui-rounded;
    user-select: none;
}

canvas {
    background-color: aliceblue;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 4vh;
    z-index: 1;
    height: auto;
    
    transition: transform 1s ease-out 0s, border-radius 50ms, opacity 500ms;
}

canvas.apphover.shake {
    animation: apphover 400ms ease-in-out 0s infinite;
}

canvas.expanded {
    border-radius: 0;
    position: absolute;
    z-index: 50;
}

canvas.expanded.fullscreen {
    z-index: 90;
}

.clock {
    color: white;

    &> #hour {
        font-size: 5vh;
    }
    
    &> #day {
        font-size: 1.6vh;
    }
}


@media (max-aspect-ratio: 10/16) and (max-width: 380px) {
    #borders {
        width: 100%;

        &> #screen {
            width: 100%;
            height: 100%;
        }
    }

    #camera {
        width: 90px;
    }

    .page {
        grid-template-columns: 1fr 1fr 1fr;
        width: 92vw;
        margin: 4vw;
        gap: 4vw;

        &> canvas.expanded {
            height: 100vh;
            width: 100vw;
            top: -10.5vh;
            right: -3.9vw;
        }
    }

    .clock {
        grid-column: 1/4;
    }
}


@media (max-aspect-ratio: 10/16) and (min-width: 381px) {
    #borders {
        width: 100%;

        &> #screen {
            width: 100%;
            height: 100%;
        }
    }

    #camera {
        width: 90px;
    }

    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 92vw;
        margin: 4vw;
        gap: 4vw;

        &> canvas.expanded {
            height: 100vh;
            width: 100vw;
            top: -10.5vh;
            right: -3.9vw;
        }
    }

    .clock {
        grid-column: 1/5;
    }
}


@media (min-aspect-ratio: 10/16) {
    #borders {
        aspect-ratio: 9/16;
        background-color: $phoneBorderColor;
        box-shadow: inset 0 0 13px 3px black;
        justify-content: center;
        align-items: center;
        border-radius: 5vh;

        &> #screen {
            width: 91%;
            height: 95vh;
            border-radius: 3.5vh;
            box-shadow: 0 0 3vh 0.3vh #6464de;
            contain: content;
            transition: box-shadow 1s;
        }
    }

    #camera {
        width: 24%;
    }

    .page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 47vh;
        gap: 2.8vh;
        margin: 2vh;

        &> canvas.expanded {
            height: 100vh;
            width: 100vw;
            top: -10.2vh;
        }

        &> canvas.expanded:not(.fullscreen) {
            height: 96vh;
            width: 52vh;
            top: -8.2vh;
            right: -2.65vh;
        }
    }

    .clock {
        grid-column: 1/5;
    }
}


#phone {
    display: flex;
    background-color: beige;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    contain: content;

    &> #borders {
        height: 100vh;
        display: flex;
        transition: transform 1s;

        &> #screen {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: linear-gradient(135deg, rgb(84 74 255) 0%, rgb(153 89 255) 38%, rgb(90 136 246) 65%, rgb(0, 212, 255) 100%);

            &> #notif-bar {
                width: 100%;
                height: 3.6vh;

                display: flex;
                flex-direction: row;
                justify-content: center;

                &> #camera {
                    height: 100%;
                    z-index: 60;
                    background-color: $phoneBorderColor;
                    border-bottom-left-radius: 3.5vh;
                    border-bottom-right-radius: 3.5vh;
                    box-shadow: inset 0vh -0.5vh 2vh 0vh #6464de;

                    transition: box-shadow 1s;
                }


            }

            &> #pages {
                display: flex;
                flex-direction: row;

                &> .page {
                    height: 76.4vh;

                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    align-items: center;
                    justify-items: center;

                    position: absolute;

                    &> div.clock {
                        grid-row: 1;
                        background-color: rgba($color: #000000, $alpha: .2);
                        width: 100%;
                        height: 100%;
                        border-radius: 5vh;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        /* align-content: center; */
                        justify-content: center;
                        align-items: center;
                    }

                    &> div.app {
                        width: 100%;
                        aspect-ratio: 1;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        border-radius: 4vh;

                        &.shake:hover {
                            animation: apphover 400ms ease-in-out 0s infinite;
                            cursor: pointer;
                        }
                    }
                }
            }


            &> #navigation-bar {
                height: 5.3vh;

                margin-bottom: 2vh;

                display: flex;
                flex-direction: row;
                justify-content: center;

                .nav-btn {
                    width: 12vh;
                    height: 3vh;
                    text-align: center;
                    border-radius: 3vh;
                    contain: content;
                }

                .nav-btn-animation{
                    background-color: #e5e5e5;
                    opacity: 0;
                    height: 5.3vh;
                    width: 0;
                    transform: translateX(6vh);
                    border-radius: 3vh;
                    position: absolute;

                    transition: transform 200ms, width 200ms;
                }

                svg {
                    fill: #e5e5e5;
                    height: 100%;
                    transform: scaleX(-1);
                }

                &> #btn-back {
                    height: 100%;
                }

                &> #btn-home {
                    height: 100%;
                }

                &> #btn-recent {
                    height: 100%;
                }
            }
        }
    }

    &> #thin {
        position: absolute;
        width: 28vh;
        height: 100vh;
        background-color: hsl(0 0% 10% / 1);
        transform: translateX(14vh);
        border-top-right-radius: 20vh;
        border-bottom-right-radius: 20vh;
        z-index: -1;

        visibility: hidden;

        transition: transform 1s, width 1.4s, border-top-right-radius 1s, border-bottom-right-radius 1s, border-top-left-radius 1s, border-bottom-left-radius 1s;
    }

    &> #back {
        aspect-ratio: 9/16;
        height: 100vh;
        
        position: absolute;
        transform: rotateY(90deg);
        
        background-color: $phoneBorderColor;
        box-shadow: inset 0 0 13px 3px black;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vh;

        transition: transform 1.5s;

        &> #backplate {
            width: 91%;
            height: 95vh;
            display: flex;
            flex-direction: column;
            border-radius: 3.5vh;
            box-shadow: 0 0 3vh 0.3vh #2d3149;
            justify-content: space-between;
            contain: content;
            background-color: #3f51b53d;

            &> #leftside {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                backdrop-filter: brightness(1.2);

                &> #cameras {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 20vh;
                    margin-top: 2vh;

                    &> .camera {
                        width: 6.5vh;
                        height: 6.5vh;
                        background-color: #17171d;
                        border-radius: 5vh;
                        border: 0.8vh #302552 solid;
                        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.7019607843), inset 0 0 1vh rgba(0, 0, 0, 0.701);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &> .camerapoint {
                            width: 15%;
                            height: 15%;
                            background-color: #020202;
                            border-radius: 3vh;
                            border: 1.3vh #2f2f2f solid;
                        }
                    }
                }

                &> #nameplate {
                    color: #e1e1e1;
                    transform: rotateZ(270deg);
                    margin-bottom: 25vh;
                    font-family: 'astera', fantasy;
                    font-size: 4.5vh;
                    text-wrap: normal;
                }
            }
        }
    }
}

